/* css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */


header{
  margin: 10px;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jt-container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  background-color:#E1EFF6;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.open {
  background-color:  #83BCFF;
}